@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Animal Shelter</h1>
    <p>Feel free to check out <a href="/animals">the animals we have available for adoption</a> and enjoy your stay!</p></div>
</div>
