@{
    ViewData["Title"] = "Countries";
}

<h1>All the Animals available:</h1>

<h3>Actions:</h3>

<p>@Html.ActionLink("Add a new animal to the shelter", "Create")</p>

<ol>
@foreach (Animal animal in Model)
{
  <li><strong>@animal.Name</strong><br> <a href="/Animals/Details/@(animal.AnimalId)">View Animal Details</a></li>
}
</ol>